<footer class="w3-center w3-black w3-padding-16">
    <div class="socialMedia">
        <h3> Find us on Social Media!</h5>
            <br>
            <!-- Add font awesome icons -->
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-youtube"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-pinterest"></a>
    </div>

    <h4>Simon Zhang Matrikelnummer: 000000 | Simon Oppermann Matrikelnummer: 0000000</h4>

</footer>