<footer class="w3-center w3-black w3-padding-16">
    <div class="socialMedia">
        <h3> Find us on Social Media!</h5>
            <br>
            <!-- Add font awesome icons -->
            <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
            <a href="https://twitter.com/gittetitter?lang=de" class="fa fa-twitter"></a>
            <a href="https://www.google.com/" class="fa fa-google"></a>
            <a href="https://de.linkedin.com/" class="fa fa-linkedin"></a>
            <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
            <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
            <a href="https://www.pinterest.de/" class="fa fa-pinterest"></a>
    </div>

    <h4>Simon Zhang Matrikelnummer: 000000 | Simon Oppermann Matrikelnummer: 8342365</h4>

</footer>