
<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="/" class="w3-bar-item w3-button"> <img src="/images/logo.png" width="20" alt="Logo"> imon's Musikshop </a>    <!-- Logo aus dem Public-Ordner einfügen-->


        <div class="w3-right w3-hide-small">
            <a href="/#instruments" class="w3-bar-item w3-button">Instrumente</a>
            <a href="/#about" class="w3-bar-item w3-button">Über uns</a>
            <a href="/#contact" class="w3-bar-item w3-button">Kontakt</a>
            <a href="/cart" class="w3-bar-item w3-button">Warenkorb</a>
            <a href="<%= session.loggedin ? '/account':'/login' %>"  class="w3-bar-item w3-button">  <%= session.loggedin ? "Account":"Login"%>  </a>
            <a href="/login" class="w3-bar-item w3-button"><%= session.loggedin ? "Logout":""%> </a> <!--TODO  auf ausloggen ändern-->
        </div>
    </div>
</div>
