
<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="/" class="w3-bar-item w3-button"> <svg width="50" height="30px" viewBox="-30 0 50 87" fill="none"  >
<path d="M40.8297 19.492L39.4488 18.3176C46.3531 8.70212 38.068 1.72918 34.1656 8.9223C30.5033 15.6751 35.4864 24.0427 38.4882 34.9059C43.2312 52.0815 42.5108 61.3299 36.387 70.2847C20.9573 92.7451 -7.92063 84.1573 2.04557 60.8894C5.46773 52.8888 11.4114 47.1637 21.5577 48.5583C22.5183 50.0263 21.4978 50.6135 20.7772 51.0539C12.5521 56.0452 7.80928 76.0833 14.9536 75.6429C18.3757 75.4962 23.479 71.3123 26.1205 64.1925C29.1825 55.8983 25.4001 45.4755 22.6984 35.6399C16.3945 12.4456 30.6835 -7.59251 47.0137 2.8301C53.1975 6.79374 49.1149 20.6663 40.8297 19.492Z" fill="#FFC700"/>
</svg>imon's Musikshop </a>    <!-- Logo aus dem Public-Ordner einfügen-->


        <div class="w3-right w3-hide-small">

            <a href="/#instruments" class="w3-bar-item w3-button">Instrumente</a>
            <a href="/#about" class="w3-bar-item w3-button">Über uns</a>
            <a href="/#contact" class="w3-bar-item w3-button">Kontakt</a>
            <a href="/cart" class="w3-bar-item w3-button">Warenkorb</a>
            <a href="/login"  class="w3-bar-item w3-button"> Login </a>
            <a href="/logout"  class="w3-bar-item w3-button"> Logout </a>

        </div>
    </div>
</div>
