<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="/css/instruments.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>

<%- include('../includes/navigation.ejs') %>
<div class="Top">
    <h1>Blasinstrumente</h1>
    <h4> 
    Check it: 7 gesunde Gründe für ein Blasinstrument!
    <ol>
   <li> Blasinstrumente spielen stärkt das Selbstvertrauen </li>
   <li>Atmung wird bei Üben und Spielen geschult</li> 
    <li>Lunge wird gestärkt</li>  
    <li>Rumpf- und Tiefenmuskulatur werden trainiert</li>  
    <li>Feinmotorik wird verbessert</li>  
    <li>Emotionales Gleichgewicht wird unterstützt</li>  
    <li>Soziale Kontakte und Spaß</li>   </ol> </h4>
</div>
<div class="w3-row">
    <div class="w3-container w3-quarter">
        <div class="card">
            <img src="/images/Posaune.webp" alt="Denim Jeans" style="width:100%">
            <h1>Posaune</h1>
            <p class="price">19.99€ p.T.</p>
            <p>Neue Posaune! Baujahr 2021 vom Instrumentenhersteller Simon Von Der Opperlein. Geeignet für Personen ab 1.50 Meter und größer. 
                Frisch geölt und im besten Zustand.
            </p>
            <p><button>Produkt ausleihen</button></p>
        </div>
    </div>
    <div class="w3-container w3-quarter">
        <div class="card">
            <img src="/images/Querflöte.jpg" alt="Denim Jeans" style= "object-fit: cover; width: 100%;">
            <h1>Querflöte</h1>
            <p class="price">9.99€ p.T.</p>
            <p>Eine schöne silberne Querflöte vom Baujahr 2009. Instrument ist in einem guten Zustand, allerdings gibt es ein zwei Kratzer.</p>
            <p><button>Produkt ausleihen</button></p>
        </div>
    </div>
    <div class="w3-container w3-quarter">
        <div class="card">
            <img src="/images/Tuba.jpg" alt="Tuba" style="width: 100%;">
            <h1>Tuba</h1>
            <p class="price">14.99€ p.T.</p>
            <p>Eine geeignetes Instrument für alle Tubaentusiaten. Baujahr 2004 und im markellosen Zustand. Bei Bestellung wird das Produkt nochmals geereinigt und poliert.</p>
            <p><button>Produkt ausleihen</button></p>
        </div>
    </div>
    <div class="w3-container w3-quarter">
        <div class="card">
            <img src="/images/Trumpet.jpg" alt="Denim Jeans" style="width:100%">
            <h1>Trumpete</h1>
            <p class="price">11.99€ p.T.</p>
            <p>Eine stylische goldene Trumpete vom Baujahr 2018. Die Trumpete hat letztes Jahr neue Tasten bekommen und steht glänzend bereit für Sie. Die Trumpete besitz eine kleine Delle am Rohr, dies beeinträchtigt den Ton nicht.</p>
            <p><button>Produkt ausleihen</button></p>
        </div>
    </div>
</div>


</body>


<%- include('../includes/footer.ejs') %>