<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/cart.css">
</head>
<body>

<%- include('../includes/navigation.ejs')%>

<div class="wrap cf">

    <div class="heading cf">
        <h1>Mein Warenkorb</h1>
        <a href="#" class="continue">Weiter Stöbern</a>
    </div>
    <div class="cart">
        <!--    <ul class="tableHead">
              <li class="prodHeader">Product</li>
              <li>Quantity</li>
              <li>Total</li>
               <li>Remove</li>
            </ul>-->
        <ul class="cartWrap">
            <li class="items odd">

                <div class="infoWrap">
                    <div class="cartSection">
                        <img src="/images/Violin.jpg" alt="" class="itemImg" />
                        <p class="itemNumber">#QUE-007544-002</p>
                        <h3>Violine</h3>

                        <p> <input type="text"  class="qty" placeholder="3"/> x 9.99€</p>

                        <p class="stockStatus"> Vefügbar</p>
                    </div>


                    <div class="prodTotal cartSection">
                        <p>29.97€</p>
                    </div>
                    <div class="cartSection removeWrap">
                        <a href="#" class="remove">x</a>
                    </div>
                </div>
            </li>
            <!-- <li class="items even">

                <div class="infoWrap">
                    <div class="cartSection">

                        <img src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg" alt="" class="itemImg" />
                        <p class="itemNumber">#QUE-007544-002</p>
                        <h3>Item Name 1</h3>

                        <p> <input type="text"  class="qty" placeholder="3"/> x $5.00</p>

                        <p class="stockStatus"> In Stock</p>
                    </div>


                    <div class="prodTotal cartSection">
                        <p>$15.00</p>
                    </div>
                    <div class="cartSection removeWrap">
                        <a href="#" class="remove">x</a>
                    </div>
                </div>
            </li>

            <li class="items odd">
                <div class="infoWrap">
                    <div class="cartSection">

                        <img src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg" alt="" class="itemImg" />
                        <p class="itemNumber">#QUE-007544-002</p>
                        <h3>Item Name 1</h3>

                        <p> <input type="text"  class="qty" placeholder="3"/> x $5.00</p>

                        <p class="stockStatus out"> Out of Stock</p>
                    </div>


                    <div class="prodTotal cartSection">
                        <p>$15.00</p>
                    </div>
                    <div class="cartSection removeWrap">
                        <a href="#" class="remove">x</a>
                    </div>
                </div>
            </li> -->
            <li class="items even">
                <div class="infoWrap">
                    <div class="cartSection info">

                        <img src="/images/Harfe.jpg" alt="" class="itemImg" />
                        <p class="itemNumber">#QUE-007544-002</p>
                        <h3>Harfe</h3>

                        <p> <input type="text"  class="qty" placeholder="2"/> x 30.99€</p>

                        <p class="stockStatus"> Verfügbar</p>

                    </div>


                    <div class="prodTotal cartSection">
                        <p>61.98€</p>
                    </div>

                    <div class="cartSection removeWrap">
                        <a href="#" class="remove">x</a>
                    </div>
                </div>
                <div class="special"><div class="specialContent">Bei einem Verkaufswert von 100€ gibt es noch ein Notenständer dazu!</div></div>
            </li>


            <!--<li class="items even">Item 2</li>-->

        </ul>
    </div>



    <div class="subtotal cf">
        <ul>
            <li class="totalRow"><span class="label">Teilkosten</span><span class="value">91,95€</span></li>

            <li class="totalRow"><span class="label">Versandkosten</span><span class="value">5.00€</span></li>

            <li class="totalRow"><span class="label">Steuern</span><span class="value">$4.00</span></li>
            <li class="totalRow final"><span class="label">Gesamt</span><span class="value">99,95€</span></li>
            <li class="totalRow"><a href="#" class="btn continue">Bestätigen</a></li>
        </ul>
    </div>
</div>

<%- include('../includes/footer.ejs') %>