<%- include('../includes/head.ejs') %>

</head>
<body>

<%- include('../includes/navigation.ejs') %>
<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <img class="w3-image" src="/images/Instruments.jpg" alt="Architecture" width="1500" height="800">
    <div class="w3-display-middle w3-margin-top w3-center">
        <h1 class="w3-xxlarge w3-text-white"><img src="/images/logo.png" alt="Logo"></span> <span
                    class="w3-hide-small w3-text-light-grey">imon's Musikshop</span></h1>
    </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">


    <div class="w3-container w3-padding-32" id="instruments">
        <h2 class="w3-border-bottom w3-border-light-grey w3-padding-16">Instrumente</h2>
    </div>

    <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-col s4">

            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Blasinstrumente</div>
                <a href="/blasinstrumente">
                    <img src="/images/Blas.jpg" alt="Blasinstrumente" style="width:350px" height="280px">
                </a>
            </div>

        </div>
        <div class="w3-col s4 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Saiteninstrumente</div>
                <a href="/saiteninstrumente">
                    <img src="/images/Saiten.jpg" alt="Saiteninstrumente" style="width: 350px" height="280px">
                </a>
            </div>
        </div>
        <div class="w3-col s4 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Schlaginstrumente</div>
                <a href="/schlaginstrumente">
                    <img src="/images/Schlag.jpg" alt="Schlaginstrumente" style="width:350px" height="280px">
                </a>
            </div>
        </div>

    </div>

    <div class="box2">
        <!-- Text einfügen über uns und Map einbinden -->
        <div class="w3-container w3-padding-32" id="about">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Über uns</h3>
            <p> Hallo wir sind Simon's Musikshop. Diese Webseite wurde im Zusammenhang der Web Development Vorlesung von
                uns erstellt. Wir beide hatten
                davor keine Kenntnisse über HTML, CSS, VIEW ENGINE (EJS), JS, NODE und EXPRESS und haben beide von Null
                angefangen. Zunächst einmal fingen wir mit dem 11.5 Stunden YouTube Tutorial über HTML und CSS
                angefangen (https://www.youtube.com/watch?v=mU6anWqZJcc&ab_channel=freeCodeCamp.org). Danach haben wir
                uns ein UDEMY Kurs von 20 Stunden über "Node JS the complete Guide" angeschaut.
                Weitere Hilfsmittel waren w3-schools und Bootstrap.
            </p>
        </div>
    </div>

    <br>
    <!-- Text und bilder von uns einfügen
     -->
    <div class="w3-row-padding">
        <div class="w3-col s6 w3-center">
            <img src="/images/Simon_O.png" alt="Simon O." style="width:250px" height="300px">
            <h3>Simon Oppermann</h3>
            <p class="w3-opacity">CEO</p>
            <p>Simon Oppermann ist ein junger Student, der seinen Ursprung in Neumarkt hat. Derzeitig studiert er an der
                DHBW Mannheim Wirtschaftsinformatik bei BASF. </p>
            <p>
                <button class="w3-button w3-light-grey w3-block">Kontakt</button>
            </p>
        </div>
        <div class="w3-col s6 w3-center">
            <img src="/images/Simon.jpg" alt="Simon Z." style="width:250px" height="300px">
            <h3>Simon Zhang</h3>
            <p class="w3-opacity">CEO</p>
            <p>Simon Zhang ist ein Dualer Student der bei Merck arbeitet und an der DHBW Mannheim Wirtschaftsinformatik
                studiert. Simon wohnt derzeitig in Büttelborn.</p>
            <p>
                <button class="w3-button w3-light-grey w3-block">Kontakt</button>
            </p>
        </div>

    </div>

    <!-- Auf Deutsch übersetzen -->
    <div class="w3-container w3-padding-32" id="contact">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Kontakt</h3>
        <p>Erreiche uns hier! Wir sind bei allen Anliegen erreichbar!</p>
        <form action="/action_page.php" target="_blank">
            <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
            <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
            <input class="w3-input w3-section w3-border" type="text" placeholder="Betreff" required name="Betreff">
            <input class="w3-input w3-section w3-border" type="text" placeholder="Kommentar" required name="Kommentar">
            <button class="w3-button w3-black w3-section" type="submit">
                <i class="fa fa-paper-plane"></i> Senden
            </button>
        </form>
    </div>

    <div class="map">
        <div style="width: 700px;position: relative;">
            <iframe width="800" height="500"
                    src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=DHBW%20Mannheim%2C%20Coblitzallee%2C%20Mannheim+(Anfahrt)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed"
                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            <div
                    style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;">
                <small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a
                            href="http://www.googlemapsgenerator.com/pt/">googlemapsgen (pt)</a> & <a
                            href="https://australianrealmoneycasino.com/">australianrealmoneycasino.com</a></small>
            </div>
            <style>
                #gmap_canvas img {
                    max-width: none !important;
                    background: none !important
                }
            </style>
        </div>
        <br/>
    </div>

    <!-- GOOGLE MAPS einbinden evtl -->
    <!-- <div class="w3-container">
        <img src="/images/denise-jans-RQ0_Fp2Hr2M-unsplash.jpg" class="w3-image" style="width:100%">
    </div> -->

    <!-- End page content -->
</div>


<!-- Footer -->
<%- include('../includes/footer.ejs') %>

</body>
</html>
