<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/login.css">
</head>
<body>

<%- include('../includes/navigation.ejs') %>
<div class="w3-padding-16">


    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="/auth" method="post">
                <h1>Registrieren</h1>

                <input type="text" name="username" placeholder="Name"/>
                <input type="email" name="username" placeholder="Email"/>
                <input type="password" name="password" placeholder="Passwort"/>
                <button>Registrieren</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="/auth" method="post">
                <h1>Anmelden</h1>
                <input type="email" name="username" placeholder="Email"/>
                <input type="password" name="password" placeholder="Passwort"/>

                <button>Anmelden</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Willkommen zurück!</h1>
                    <p>Hier mit bestehendem Account anmelden</p>
                    <button class="ghost" id="signIn">Anmelden</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Neu hier?</h1>
                    <p>Bitte hier anmelden</p>
                    <button class="ghost" id="signUp">Registrieren</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
    });

    signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
    });
</script>

