<%- include('../includes/head.ejs') %>

    <link rel="stylesheet" href="/css/instruments.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    </head>

    <body>

        <%- include('../includes/navigation.ejs') %>
            <div class="Top">
                <h1>Saiteninstrumente</h1>
                <h4>Saiteninstrumente haben eine riesige Vielfalt, die einzige konstante sind die Saiten! Von Gitarren zu Ukulelen zu
                Violinen bis zu einer Harfe. Hier bei Simon’s Musikshop findest du alle Saiteninstrumente die dein Herz begehrt, bei
                Sonderwünsche einfach eine E-Mail schreiben und wir versuchen zu helfen.</h4>
            </div>
            <div class="w3-row">
                <div class="w3-container w3-quarter">
                    <div class="card">
                        <img src="/images/Bass.jpg" alt="Bass" style="width:100%">
                        <h1>Bass Gitarre</h1>
                        <p class="price">9.99€ p.T.</p></p>
                        <p>Mit dem rockigen schwarzen Design und einem Baujahr von 2018 ist dieser Bass ein wahrer Fang. Der Bass hat keine Macken und ist bereit gerockt zu werden! </p>
                        <p><button>Produkt ausleihen</button></p>
                    </div>
                </div>
                <div class="w3-container w3-quarter">
                    <div class="card">
                        <img src="/images/Gitarre.jpg" alt="Gitarre" style="width:100%">
                        <h1>Gitarre</h1>
                        <p class="price">7.99€ p.T.</p>
                        <p>Eine klassische Gitarre mit stabilem Eichenholz aus dem Jahr 2004. Trotz des Alters ist der Klang in Takt geblieben. Mit
                        einem neuen Set an Saiten hört man kein Unterschied zu einer neuen Gitarre.</p>
                        <p><button>Produkt ausleihen</button></p>
                    </div>
                </div>
                <div class="w3-container w3-quarter">
                    <div class="card">
                        <img src="/images/Violin.jpg" alt="Violine" style="width:100%">
                        <h1>Violine</h1>
                        <p class="price">9.99€ p.T.</p>
                        <p>Eine Buchholzvioline vom Baujahr 2008, mit einem schönen Klang. Frisch gespannte Seiten mit einem kleinen Kratzer auf
                        der Rückseite. Ansonsten guter Zustand.</p>
                        <p><button>Produkt ausleihen</button></p>
                    </div>
                </div>
                <div class="w3-container w3-quarter">
                    <div class="card">
                        <img src="/images/Harfe.jpg" alt="Harfe" style="width:100%">
                        <h1>Harfe</h1>
                        <p class="price">30.99€ p.T.</p>
                        <p>Ihr wolltet schon immer mal Harfe spielen? Wir haben hier eine Harfe vom Baujahr 2012 im mangelfreien Zustand.</p>
                        <p><button>Produkt ausleihen</button></p>
                    </div>
                </div>
            </div>


    </body>


    <%- include('../includes/footer.ejs') %>