<%- include('../includes/head.ejs') %>

    <link rel="stylesheet" href="/css/instruments.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    </head>

    <body>

        <%- include('../includes/navigation.ejs') %>
            <div class="Top">
                <h1>Saiteninstrumente</h1>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere mollitia labore ea doloribus optio magnam, assumenda blanditiis eveniet necessitatibus exercitationem in! Fugiat, quibusdam. Quis saepe explicabo impedit, odit fuga porro suscipit perspiciatis nemo labore. Rem, atque quaerat! Assumenda perspiciatis veritatis possimus doloremque eum! Nesciunt minima necessitatibus maxime laborum. Rem beatae, expedita dolores itaque optio fugiat excepturi enim ut, provident sunt error iure eveniet, voluptatum accusamus saepe nemo nisi molestias asperiores? Quis esse fuga veniam mollitia. Cum natus ab officiis pariatur debitis, neque, doloribus vitae, facere quod nemo ex? Aliquam adipisci sequi quisquam voluptatibus doloribus, qui similique nobis! Aperiam, exercitationem ipsa!</h4>
            </div>
            <div class="w3-row">
                <div class="w3-container w3-quarter">
                    <div class="card">
                        <img src="/images/Blas.jpg" alt="Denim Jeans" style="width:100%">
                        <h1>Tompete</h1>
                        <p class="price">$19.99</p>
                        <p>Hier kommt eine Instrumentenbeschreibung hin</p>
                        <p><button>Produkt ausleihen</button></p>
                    </div>
                </div>
                <div class="w3-container w3-quarter">

                </div>
                <div class="w3-container w3-quarter">
                    <h2>w3-quarter</h2>
                </div>
                <div class="w3-container w3-quarter">
                    <h2>w3-quarter</h2>
                </div>
            </div>


    </body>


    <%- include('../includes/footer.ejs') %>