<%- include('../includes/head.ejs') %>

    <link rel="stylesheet" href="/css/instruments.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    </head>

    <body>

        <%- include('../includes/navigation.ejs') %>
            <div class="Top">
                <h1>Schlaginstrumente</h1>
                <h4>Hier findet Ihr alle Schlaginstrumente, die ihr euch nur erdenken könnt! Fun Fakt: Das heutige Klavier ist bei der Bedienung ein Tasteninstrument, ein Schlaginstrument in seiner Erregungsart und wegen
                des schwingenden Mediums ein Saiteninstrument. Wir haben uns die Freiheit genommen, das Klavier nach der Herstellungsart einzuordnen zu den Schlaginstrumenten.</h4>
            </div>
            <div class="w3-row">
                <div class="w3-container w3-quarter">
                    <div class="card">
                        <img src="/images/Bongo.jpg" alt="Bongo" style="width:100%">
                        <h1>Bongo</h1>
                        <p class="price">5.99€ p.T.</p>
                        </p>
                        <p>Diese Bongo bringt gute Laune und Spielspaß. 2015 gebaut und in einem fantastischen Zustand.</p>
                        <p><button>Produkt ausleihen</button></p>
                    </div>
                </div>
                <div class="w3-container w3-quarter">
                    <div class="card">
                        <img src="/images/Gong.jpg" alt="Gong" style="width:100%">
                        <h1>Gong</h1>
                        <p class="price">3.99€ p.T.</p>
                        <p>Was heutzutage mehr eine Dekoration ist, ist ein Instrument mit Jahrhundert alter Geschichte. Hier ein Gong, der einen kraftvollen Ton hat. Baujahr: 2001.</p>
                        <p><button>Produkt ausleihen</button></p>
                    </div>
                </div>
                <div class="w3-container w3-quarter">
                    <div class="card">
                        <img src="/images/schlagzeug1.webp" alt="Schlagzeug" style="width:100%">
                        <h1>Schlagzeug</h1>
                        <p class="price">14.99€ p.T.</p>
                        <p>Beginne deine Drum Session mit diesem neuen Schlagzeugset vom Baujahr 2022. Der Zustand ist neu und das Instrument wartet gespannt drauf gespielt zu werden. Sei der/die erste, die darauf spielt!</p>
                        <p><button>Produkt ausleihen</button></p>
                    </div>
                </div>
                <div class="w3-container w3-quarter">
                    <div class="card">
                        <img src="/images/Klavier.jpg" alt="Harfe" style="width:100%">
                        <h1>Klavier</h1>
                        <p class="price">20.99€ p.T.</p>
                        <p>Was gibts besser als ein frisch gestimmtes Klavier. Baujahr 2003 und im guten Zustand.</p>
                        <p><button>Produkt ausleihen</button></p>
                    </div>
                </div>
            </div>


    </body>


    <%- include('../includes/footer.ejs') %>