<%- include('../includes/head.ejs') %>

    <link rel="stylesheet" href="/css/instruments.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    </head>

    <body>

        <%- include('../includes/navigation.ejs') %>
            <div class="Top">
                <h1>Schlaginstrumente</h1>
                <h4>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem veritatis, illum voluptate dicta ipsam inventore omnis animi, molestiae iure explicabo reprehenderit quod quae? Delectus ut officiis corrupti laborum placeat ex error, quaerat accusantium commodi ratione recusandae repudiandae debitis tempora quisquam repellat, corporis aliquam maxime deserunt odio. Sed eius quis nostrum aspernatur impedit omnis facere dignissimos asperiores, eaque dolores nesciunt cupiditate minima? Delectus nobis ad veritatis obcaecati incidunt est dolor! Molestias laborum perspiciatis nihil commodi quo accusantium fugiat repellendus, exercitationem hic nulla ab laboriosam quod cumque quia dolorem, cum sint quae saepe animi repudiandae earum sequi quas quasi! Sed, fugiat in!.</h4>
            </div>
            <div class="w3-row">
                <div class="w3-container w3-quarter">
                    <div class="card">
                        <img src="/images/Blas.jpg" alt="Denim Jeans" style="width:100%">
                        <h1>Tompete</h1>
                        <p class="price">$19.99</p>
                        <p>Hier kommt eine Instrumentenbeschreibung hin</p>
                        <p><button>Produkt ausleihen</button></p>
                    </div>
                </div>
                <div class="w3-container w3-quarter">

                </div>
                <div class="w3-container w3-quarter">
                    <h2>w3-quarter</h2>
                </div>
                <div class="w3-container w3-quarter">
                    <h2>w3-quarter</h2>
                </div>
            </div>


    </body>


    <%- include('../includes/footer.ejs') %>