<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="produktgruppeStyle.css">
    <title>Simon's Musikshop</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand"> <img src="/img/S.jpg" alt="logo"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../../../../../../../../../Downloads/index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Über Uns.html">Über Uns</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="instrumente.html" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Instrumente
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="Saiteninstrumente.html">Saiteninstrumente</a>
                        <a class="dropdown-item" href="Blasinstrumente.html">Blasinstrumente</a>
                        <a class="dropdown-item" href="Schlaginstrumente.html">Schlaginstrumente</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">

                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="erstes">
        <div class="box1">
            <h1>Schlaginstrumente</h1>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae tempore praesentium, molestias quis
                exercitationem reiciendis dolores accusamus quibusdam dolor illum, commodi nostrum quo doloribus
                perferendis!
                Ullam quae aut repellat aperiam ipsum quaerat optio numquam ex placeat officiis voluptatibus
                consequuntur, neque
                praesentium saepe. Necessitatibus totam assumenda earum illo. Amet, numquam distinctio?</p>
        </div>
    </div>

    </div>
    <div class="zweites">
        <div class="guitar1" style="width: 18rem;">
            <img class="card-img-top" src="/img/Guitar.jpg" width="300px;" height="450px" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Guitars</h5>
                <p class="card-text">Classic and electronic Guitars for Beginner and Pros here!</p>
                <a href="#" class="btn btn-primary">Guitar Selection</a>
            </div>
        </div>

        <div class="guitar2" style="width: 18rem;">
            <img class="card-img-top" src="/img/Guitar.jpg" width="300px;" height="450px" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Guitars</h5>
                <p class="card-text">Classic and electronic Guitars for Beginner and Pros here!</p>
                <a href="#" class="btn btn-primary">Guitar Selection</a>
            </div>
        </div>

        <div class="guitar3" style="width: 18rem;">
            <img class="card-img-top" src="/img/Guitar.jpg" width="300px;" height="450px" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Guitars</h5>
                <p class="card-text">Classic and electronic Guitars for Beginner and Pros here!</p>
                <a href="#" class="btn btn-primary">Guitar Selection</a>
            </div>

        </div>




        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>


</body>

</html>